<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivery </h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Order-pending">
                <div class="card-header">
                    <h5 class="card-title">Order pending</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title"></h3>
            </div>
        </div>
    </div>
</div>
